DOCTYPE
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	
	//bower:css
	//endbower
	link(rel="stylesheet", href="css/main.css")
body
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ducimus deleniti, inventore cumque molestias voluptate iure ullam eum sapiente rem voluptatum, tempora voluptatem quas a iusto autem nihil nobis quisquam!
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, vero dolor architecto voluptas corporis voluptatem voluptatibus, iure alias porro magni, aliquam consectetur dolorum adipisci inventore labore voluptatum facere quia consequatur.
	
	
	//bower:js
	//endbower